.column {
  width: 100%;
  max-width: var(--default-layout-width);
  max-height: calc(100vh - var(--default-layout-header-height));
  margin: 6px auto;
  display: flex;
  position: relative;

  .column__container {
    min-width: 250px;
    background: var(--background-color);
    border-radius: 5px;
    padding: 16px;
    margin-right: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .column__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      textarea {
        width: 100%;
        resize: none;
        outline: none;
        font-size: 1.4rem;
        color: var(--text-color);
        border: none;
        border-radius: 12px;
        padding: 12px 0 0 0;
      }

      .column__header-icon {
        color: var(--white);
        background: var(--primary);
        border-radius: 5px;
        padding: 2px 4px;
        margin-right: 6px;
      }
    }

    .column__addnew {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.5rem;
      color: #666;
      font-weight: 500;
      cursor: pointer;
      padding: 4px 6px 4px 0;
      border-radius: 4px;

      .btn__add-task {
        background: none;
        color: #666;
        font-size: 1.5rem;
        cursor: pointer;
        margin-left: 4px;
      }

      &:hover {
        background: #ddd;
      }
    }
  }
}