.column {
  width: 100%;
  max-width: var(--default-layout-width);
  max-height: calc(100vh - var(--default-layout-header-height));
  margin: 6px auto;
  display: flex;
  position: relative;

  .column__container {
    width: 250px;
    background: var(--background-color);
    border-radius: 5px;
    padding: 16px;
    margin-right: 16px;
    overflow: hidden;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .column__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;

      input {
        color: var(--black);
        background: var(--background-color);
        font-size: 1.5rem;
        font-weight: 550;
      }

      svg {
        color: var(--text-color);
        font-size: 1.5rem;
        cursor: pointer;
      }
    }

    .column__addnew {
      font-size: 1.5rem;
      color: #666;
      font-weight: 500;
      cursor: pointer;

      svg {
        margin-right: 4px;
      }
    }
  }
}
