.card__container {
  width: 220px;
  height: 80px;
  background: var(--white);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;

  .card {
    padding: 8px 20px;

    input {
      color: var(--black);
      font-size: 1.5rem;
      font-weight: 400;
      border: none;
      outline: none;
      width: 100%;
    }

    .card__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 8px;

      .card__button-add {
        background: var(--primary);
        color: var(--white);
        font-size: 1.2rem;
        font-weight: 500;
        border: none;
        outline: none;
        border-radius: 4px;
        padding: 4px 8px;
        margin-right: 8px;
      }
    }
  }
}