nav {
  height: 60px;
  width: var(--default-layout-width);

  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__content {
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        img {
          width: 50px;
          height: 50px;
          margin-top: 6px;
          object-fit: cover;
        }

        &:hover {
          opacity: 0.9;
        }
      }

      .btn__create {
        padding: 10px 12px;
        margin-left: 12px;
        border-radius: 8px;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
          opacity: 0.9;
        }

        &:active {
          opacity: 0.8;
        }
      }
    }

    .nav__profile {
      width: 50px;
      height: 50px;
      background: #999;
      color: var(--white);
      line-height: 50px;
      font-size: 1.2rem;
      border-radius: 50%;
      padding-left: 6px;
      cursor: pointer;
    }
  }
}