.profile {
  display: flex;
  flex-direction: row-reverse;
  top: 65px;
  right: 10px;
  position: absolute;

  .profile__container {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 16px;
    color: var(--text-color);
    font-size: 1.6rem;
    border-radius: 8px;
    overflow: hidden;
    z-index: 999;

    .profile__account {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: solid 1px #ccc;
      padding: 12px 0;

      span {
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          opacity: 0.6;
        }
      }
    }

    .profile__details {
      display: flex;
      align-items: center;
      padding: 12px 0;
      border-bottom: solid 1px #ccc;

      .profile__avatar {
        color: var(--text-color);
        font-size: 1.2rem;
        border-radius: 50%;
        margin-right: 12px;
        object-fit: cover;
        background: #ddd;
        height: 50px;
        width: 50px;
      }

      .profile__username {
        font-size: 1.5rem;
        color: var(--text-color);
      }
    }

    .profile__button {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 16px;
      padding-bottom: 6px;

      button {
        display: flex;
        width: 100%;
        background: none;
        font-size: 1.5rem;
        color: var(--text-color);
        cursor: pointer;
      }

      &:hover {
        opacity: 0.8;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}
